@charset "ISO-8859-1";

 body   
{  
height: 125vh;  
background-color:	 #f0f5f5;
 
background-size: cover;  
font-family: sans-serif; 

}  
header {  
background-color: #ffe066;  
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 15px;  
display: flex;  
align-items: center;  
box-shadow: 0 0 25px 0 black;  
}  
header * {  
display: inline;  
}  
header li {  
margin: 2px;  
}  
header li a {  
color: blue;  
text-decoration: none;  
}  

table{
text-align:left;
position:center;
border: 1px solid black;
border:collapse;
}

th,td{
border-bottom:1px solid #ddd;
}

th{
height: 30px;
background-color: #9DF9F6;
}

td{
height :30px;

}
